<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->
	<appSettings>
		<add key="VirtualDir" value="" />
		<add key="VersionNumber" value="1497249888210" />
		<!--Start SMS Settings-->
		<!--<add key="Key" value="DP22QjugnW/VoXQaOXIU85LOKsBqYJt75w5wOO17iBEgb/0fgZiVAg=="/>
		<add key="OTPRegisterTemplate" value="ECampusUserRegistration"/>
		<add key="OTPMobileChnageTemplate" value="ECampusMobileChange"/>
		<add key="UserActivation" value="ECampusUserActivation"/>
		<add key="RentalInfo" value="ECampusRentalInfo"/>
		<add key="VisitorEntry" value="ECampusVisitorEntry"/>-->
		<!--End SMS Settings-->
		<!--Start Email Settings-->
		<add key="smtpserver" value="smtp.gmail.com"/>
		<add key="smtpPort" value="587"/>
		<add key="fromemail" value="prosoltechline@gmail.com"/>
		<add key="smtppwd" value="A/fJVJPrWwzXjhzJSzDy2Q=="/>
		<add key="MailTo" value="chetan.more0510@gmail.com"/>
		<add key="smtpuser" value="prosoltechline@gmail.com"/>
		<add key="server" value="live"/>
		<!--End Email Settings-->
	</appSettings>
	<connectionStrings>
		<add name="InventoryManagementEntities" connectionString="metadata=res://*/InventoryManagement.csdl|res://*/InventoryManagement.ssdl|res://*/InventoryManagement.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.100;initial catalog=InventoryManagement;user id=prosoluser;password=prosol@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<!--<system.web>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			</assemblies>
		</compilation>
	</system.web>-->
</configuration>